@model System.Collections.Generic.Dictionary<int,SimpleCalculator.Models.ContactModel>


<h2>Kontakty</h2>
<a class="btn btn-primary" asp-action="Add" asp-controller="Contact">Dodaj kontakt</a>
<table class ="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Nazwisko
        </th>
        <th>
            Email
        </th>
    </tr>
    @foreach(var item in @Model)
    {
        
        <tr>
            <td>
                @item.Value.Name
            </td>
            <td>
                @item.Value.LastName
            </td>
             <td>
                            @item.Value.Email
                        </td>
            <td>
                <div>
                    <a class="btn btn-danger" >
                        Edycja
                    </a>
                    <a class="btn btn-info" >
                        Szczegóły
                    </a>
                    <a class="btn btn-danger" asp-action="Delete" asp-controller="Contact">
                        Usuń
                    </a>
                    
                </div>
            </td>
        </tr>
    }
</table>